{% extends "base.html" %}
{% block title %}
Blog
{% endblock %}


{% block content %}


<html lang="en">
<head>

</head>
<body>




<div class="pro-gallery-parent-container"
     role="region"
     aria-label="Blog feed">
    <div id="pro-gallery-margin-container-pro-blog"
         class="pro-gallery-margin-container"
         style="margin:auto;height:1450px;width:80%;max-width:1200px;overflow:visible;position:relative">
        <!-- New Store -->
        <div data-id="78c34350-6315-47e4-89a7-bcae6448a128" class="item-link-wrapper" data-idx="0"
             data-hook="item-link-wrapper">
            <div class="gallery-item-container has-custom-focus hover-animation-fade-in"
                 id="pgi78c34350631547e489a7bcae6448a128_0"
                 aria-label="Exciting News! We MOVED &amp; EXPANDED!"
                 data-id="78c34350-6315-47e4-89a7-bcae6448a128"
                 data-hook="item-container"
                 style="position:absolute; top:0; left:0; width:940px; height:340.5px; border:1px solid rgba(204, 204, 204, 0.75); transition:opacity .2s ease;">

                <div style="float:left">
                    <div class="gallery-item-wrapper cube-type-fill"
                         id="item-wrapper-78c34350-6315-47e4-89a7-bcae6448a128"
                         style="height:340.5px; width:454px; margin:-1px">
                        <div class="gallery-item-content image-item gallery-item-visible"
                             data-hook="image-item"
                             style="width:454px; height:340.5px;">
                            <picture id="multi_picture_78c34350-6315-47e4-89a7-bcae6448a128">
                                <img alt="Exciting News! We MOVED &amp; EXPANDED!"
                                     id="78c34350-6315-47e4-89a7-bcae6448a128"
                                     class="gallery-item-visible"
                                     data-hook="gallery-item-image-img"
                                     src="static/blog/store_isles.webp"
                                     loading="eager"
                                     style="width:454px; height:340.5px"/>
                            </picture>
                        </div>
                    </div>
                </div>

                <div class="gallery-item-common-info-outer" style="height:340.5px; float:right">
                    <div class="gallery-item-common-info" style="height:100%; width:486px">
                        <div class="blog-post-description-font blog-text-color blog-card-background-color"
                             data-hook="post-list-item">
                            <div class="post-list-item-wrapper" style="padding-left:36px; padding-right:36px">
                                <div class="post-header blog-post-description-font" style="font-size:12px">
                                    <div class="post-list-item__title" style="font-size:28px">
                                        <div class="post-list-item-wrapper">
                                            <a class="blog-post-title-link" href="exciting-news-we-moved-expanded">
                                                <h2 class="blog-post-title" style="font-size:28px"
                                                    data-hook="post-title">
                                                    Exciting News! We MOVED &amp; EXPANDED!
                                                </h2>
                                            </a>
                                            <div class="blog-post-description" style="font-size:16px"
                                                 data-hook="post-description">
                                                From California Sunshine to Triangle Flavors: Golden Hex Expands
                                                with European &amp; Mediterranean Delights, becoming the LARGEST
                                                European...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-footer" data-hook="post-footer"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- New Year -->
        <div data-id="cb7dd257-dde9-4a22-a6e7-9f07c2ceb98c" class="item-link-wrapper" data-idx="1"
             data-hook="item-link-wrapper" tabindex="-1">
            <div class="gallery-item-container item-container-regular has-custom-focus visible hover-animation-fade-in"
                 id="pgicb7dd257dde94a22a6e79f07c2ceb98c_1" tabindex="-1" aria-label="Our New Year Favorite Menu"
                 data-hash="cb7dd257-dde9-4a22-a6e7-9f07c2ceb98c" data-id="cb7dd257-dde9-4a22-a6e7-9f07c2ceb98c"
                 data-idx="1" data-hook="item-container"
                 style="overflow-y:hidden;position:absolute;bottom:auto;margin:0;top:372.5px;left:0;right:auto;width:940px;height:340.5px;overflow:hidden;border-width:1px;border-color:rgba(204, 204, 204, 0.75);border-style:solid;transition:opacity .2s ease;opacity:1;display:block">
                <div style="float:left">
                    <div data-hook="item-wrapper" class="gallery-item-wrapper visible cube-type-fill"
                         id="item-wrapper-cb7dd257-dde9-4a22-a6e7-9f07c2ceb98c"
                         style="background-color:none;height:340.5px;width:454px;margin:-1px">
                        <div class="gallery-item-content item-content-regular image-item gallery-item-visible gallery-item gallery-item-preloaded"
                             data-hook="image-item" style="width:454px;height:340.5px;margin-top:0;margin-left:0">
                            <picture id="multi_picture_cb7dd257-dde9-4a22-a6e7-9f07c2ceb98c">
                                <img alt="" id="cb7dd257-dde9-4a22-a6e7-9f07c2ceb98c"
                                     src="static/blog/olivier_salad.webp" style="width:454px;height:340.5px"
                                     class="gallery-item-visible gallery-item gallery-item-preloaded"
                                     data-hook="gallery-item-image-img-preload" loading="eager"/>
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="gallery-item-common-info-outer" style="height:340.5px;float:right">
                    <div style="overflow:hidden;box-sizing:border-box;height:100%;width:486px"
                         class="gallery-item-common-info gallery-item-right-info">
                        <div class="blog-post-description-font blog-text-color blog-card-background-color blog-card-border-color post-list-item blog-post-homepage-border-color blog-post-homepage-post-container blog-post-homepage-background-color"
                             style="border-width:0;--wix-blog-inline-padding:36px" data-hook="post-list-item">
                            <div style="padding-left:36px;padding-right:36px"
                                 class="post-list-item-wrapper blog-post-homepage-description-font blog-post-homepage-description-color blog-post-homepage-description-fill">
                                <div class="post-header blog-post-description-font blog-post-homepage-description-font"
                                     style="font-size:12px"></div>
                            </div>
                            <div class="blog-post-homepage-link-hashtag-hover-color">
                                <a class="blog-post-title-link" href="new_year_favorite_menu">
                                    <div class="post-list-item-wrapper"
                                         style="padding-left:36px; padding-right:36px">
                                        <div class="post-header blog-post-description-font" style="font-size:12px">
                                            <div class="post-list-item__title" style="font-size:28px">
                                                <h2 class="blog-post-title"
                                                    style="-webkit-line-clamp:3;width:calc(100% - 36)">Our New Year
                                                    Favorite Menu</h2>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="blog-post-description"
                                     style="font-size:16px; padding-left:36px; padding-right:36px;">
                                    <div class="blog-post-description-content" style="-webkit-line-clamp:3">
                                        What&#x27;s for the New Year? 1. Traditionally, Olivier (aka Stolichny)
                                        would be our most favorite salad. Many required ingredients can be...
                                    </div>
                                </div>
                            </div>
                            <div class="post-footer" data-hook="post-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Women's Day -->
        <div data-id="3ea53c5b-7750-4447-a9ca-a9a9e1bdfa58" class="item-link-wrapper" data-idx="2"
             data-hook="item-link-wrapper" tabindex="-1">
            <div class="gallery-item-container item-container-regular has-custom-focus visible hover-animation-fade-in"
                 id="pgi3ea53c5b77504447a9caa9a9e1bdfa58_2" tabindex="-1" aria-label="We are ONE WEEK OLD!"
                 data-hash="3ea53c5b-7750-4447-a9ca-a9a9e1bdfa58" data-id="3ea53c5b-7750-4447-a9ca-a9a9e1bdfa58"
                 data-idx="2" data-hook="item-container"
                 style="position:absolute; top:745px; left:0; width:940px; height:340.5px; border:1px solid rgba(204, 204, 204, 0.75); transition:opacity .2s ease; opacity:1; display:block">
                <div style="float:left">
                    <div data-hook="item-wrapper" class="gallery-item-wrapper visible cube-type-fill"
                         id="item-wrapper-3ea53c5b-7750-4447-a9ca-a9a9e1bdfa58"
                         style="height:340.5px; width:454px; margin:-1px">
                        <div class="gallery-item-content item-content-regular image-item gallery-item-visible"
                             data-hook="image-item" style="width:454px; height:340.5px">
                            <picture id="multi_picture_3ea53c5b-7750-4447-a9ca-a9a9e1bdfa58">
                                <source srcset="static/blog/lovely_lady.webp" type="image/webp"/>
                                <img alt="We are ONE WEEK OLD!" id="3ea53c5b-7750-4447-a9ca-a9a9e1bdfa58"
                                     class="gallery-item-visible gallery-item gallery-item-preloaded"
                                     data-hook="gallery-item-image-img" data-idx="2"
                                     src="static/blog/lovely_lady.webp"
                                     loading="eager" style="width:454px; height:340.5px"/>
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="gallery-item-common-info-outer" style="height:340.5px; float:right">
                    <div class="gallery-item-common-info gallery-item-right-info"
                         style="overflow:hidden; box-sizing:border-box; height:100%; width:486px">
                        <div class="blog-post-description-font blog-text-color blog-card-background-color blog-card-border-color post-list-item blog-post-homepage-border-color blog-post-homepage-post-container blog-post-homepage-background-color"
                             style="border-width:0; padding:0px" data-hook="post-list-item">
                            <div class="post-list-item-wrapper" style="padding-left:36px; padding-right:36px">
                                <div class="post-header blog-post-description-font" style="font-size:12px">
                                    <div class="post-list-item__title" style="font-size:28px">
                                        <a href="we_are_one_week_old">
                                            <h2 style="-webkit-line-clamp:3;">We are ONE WEEK OLD!</h2>
                                        </a>
                                    </div>
                                </div>
                                <div class="post-description" style="font-size:16px">
                                    <div class="BOlnTh" style="-webkit-line-clamp:3">
                                        Today is a week since Golden Hex was reborn. March 8th. International
                                        Women’s Day. Since March 1st first day of opening, life at our...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- First Day -->
        <div data-id="0cff390f-36b4-4d83-a00c-81fbe5b52135" class="item-link-wrapper" data-idx="3"
             data-hook="item-link-wrapper"
             tabindex="-1">
            <div class="gallery-item-container item-container-regular has-custom-focus visible hover-animation-fade-in"
                 id="pgi0cff390f36b44d83a00c81fbe5b52135_3"
                 tabindex="-1"
                 aria-label="March 1st: First day of OPENING! "
                 data-hash="0cff390f-36b4-4d83-a00c-81fbe5b52135"
                 data-id="0cff390f-36b4-4d83-a00c-81fbe5b52135"
                 data-idx="3"
                 data-hook="item-container"
                 style="overflow-y:hidden;position:absolute;bottom:auto;margin:0;top:1117.5px;left:0;right:auto;width:940px;height:340.5px;overflow:hidden;border-width:1px;border-color:rgba(204, 204, 204, 0.75);border-style:solid;transition:opacity .2s ease;opacity:1;display:block">
                <div style="float:left">
                    <div data-hook="item-wrapper"
                         class="gallery-item-wrapper visible cube-type-fill [object Object]"
                         id="item-wrapper-0cff390f-36b4-4d83-a00c-81fbe5b52135"
                         style="background-color:none;height:340.5px;width:454px;margin:-1px">
                        <div class="gallery-item-content item-content-regular image-item gallery-item-visible gallery-item gallery-item-preloaded   "
                             data-hook="image-item"
                             style="width:454px;height:340.5px;margin-top:0;margin-left:0">
                            <picture
                                    id="multi_picture_0cff390f-36b4-4d83-a00c-81fbe5b52135">
                                <source srcSet="https://static.wixstatic.com/media/a27d24_5f326d904f174a33a40bc73f06c78770~mv2.jpg/v1/fill/w_240,h_320,fp_0.50_0.50,q_90,enc_auto/a27d24_5f326d904f174a33a40bc73f06c78770~mv2.jpg 1x, https://static.wixstatic.com/media/a27d24_5f326d904f174a33a40bc73f06c78770~mv2.jpg/v1/fill/w_336,h_448,fp_0.50_0.50,lg_1,q_90,enc_auto/a27d24_5f326d904f174a33a40bc73f06c78770~mv2.jpg 2x"
                                        type="image/jpg"/>
                                <source srcSet="https://static.wixstatic.com/media/a27d24_5f326d904f174a33a40bc73f06c78770~mv2.jpg/v1/fill/w_240,h_320,fp_0.50_0.50,q_90,enc_auto/a27d24_5f326d904f174a33a40bc73f06c78770~mv2.webp 1x, https://static.wixstatic.com/media/a27d24_5f326d904f174a33a40bc73f06c78770~mv2.jpg/v1/fill/w_336,h_448,fp_0.50_0.50,lg_1,q_90,enc_auto/a27d24_5f326d904f174a33a40bc73f06c78770~mv2.webp 2x"
                                        type="image/webp"/>
                                <img alt="March 1st: First day of OPENING! "
                                     id="0cff390f-36b4-4d83-a00c-81fbe5b52135"
                                     class="gallery-item-visible gallery-item gallery-item-preloaded"
                                     data-hook="gallery-item-image-img"
                                     data-idx="3"
                                     src="static/blog/first_day.webp"
                                     loading="eager"
                                     style="width:454px;height:340.5px"/>
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="gallery-item-common-info-outer [object Object]"
                     style="height:340.5px;float:right">
                    <div style="overflow:hidden;box-sizing:border-box;height:100%;width:486px"
                         class="gallery-item-common-info gallery-item-right-info">
                        <div class="RiOfiW pu51Xe TBrkhx blog-post-description-font blog-text-color blog-card-background-color blog-card-border-color post-list-item blog-post-homepage-border-color blog-post-homepage-post-container blog-post-homepage-background-color _UH27m"
                             style="border-width:0;--wix-blog-inline-padding:36px"
                             data-hook="post-list-item">
                            <div style="padding-left:36px;padding-right:36px"
                                 class="iSTCpN TBrkhx post-list-item-wrapper blog-post-homepage-description-font blog-post-homepage-description-color blog-post-homepage-description-fill">
                                <div class="JMCi2v blog-post-homepage-link-hashtag-hover-color so9KdE TBrkhx">
                                    <a class="O16KGI pu51Xe TBrkhx mqysW5"
                                       href="first_day">
                                        <div style="font-size:28px"
                                             class="FbwBsX blog-post-title-font TBrkhx mqysW5 HhgCcE"
                                             data-hook="post-list-item__title">
                                            <div class="T5UMT5 fcPJ4D blog-hover-container-element-color WD_8WI post-title blog-post-homepage-title-color blog-post-homepage-title-font"
                                                 style="font-size:28px"
                                                 data-hook="post-title">
                                                <h2 class="bD0vt9 KNiaIk"
                                                    style="-webkit-line-clamp:3;width:calc(100% - 36)">
                                                    March
                                                    1st:
                                                    First
                                                    day
                                                    of
                                                    OPENING! </h2>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="CHRJex JMCi2v pu51Xe TBrkhx mqysW5">
                                        <div style="font-size:16px"
                                             class="nebVix TBrkhx blog-post-description-style-font blog-post-homepage-description-style-font mABNle HhgCcE"
                                             data-hook="post-description">
                                            <div class="wR7PET">
                                                <div class="BOlnTh"
                                                     style="-webkit-line-clamp:3">
                                                    Golden Hex store opened the doors on March 1st and what a busy day
                                                    that was! Our first customers came before the store was open ahead
                                                    of...
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="NPsER6 TBrkhx kzwb6t xczrBK">
                                    <span class="tmHsxH TE7que TBrkhx blog-post-homepage-description-background-color"></span>
                                    <div style="font-size:12px">
                                        <div data-hook="post-footer"
                                             class="NT9zC5 blog-post-description-font blog-post-homepage-description-color blog-post-homepage-description-fill blog-post-homepage-description-font post-footer blog-post-homepage-description-font blog-post-homepage-description-color">


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<style> h2{
    font-family: "Brush Script MT", cursive;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.pro-gallery-container-pro-blog {
    height: auto !important; /* Adjust height dynamically */
    min-height: 100vh; /* Ensures it takes only necessary space */

}
</style>
</html>
{% endblock %}
```