{% extends "base.html" %}
{% block title %} Our New Year Favorite Menu {% endblock %}
{% block content %}
<div style="text-align: center;">
    <h1 style="font-family: 'Brush Script MT', cursive, sans-serif; font-size: 36px; font-weight: bold; text-align: center;">
        Our New Year Favorite Menu
    </h1>

 <picture>
    <img src="static/blog/olivier_salad.webp" alt="Olivier salad" width="400" height="300"/>
     <img src="static/blog/hermitage.avif" alt="The Hermatige" width="400" height="300"/>
</picture>

    <p>Traditionally, Olivier (aka Stolichny) would be our most favorite salad.
        Many required ingredients can be purchased at Golden Hex incl thick-sliced bologna (just ask). Pickles, mayo,
        sweet peas, cold meats, sour cream. Salad Olivier was created by Lucien Olivier around the 1860s. Olivier was a
        Russian chef of Belgian/French descent, and owner/chief of L'Hermitage restaurant in Moscow, Russia. The
        ingredients served in the salad would vary by seasons, ranging from chicken breast, veal tongue, rouse, caviar,
        crayfish tails, capers and smoked duck, etc. The secret of the recipe, esp its dressing (a mayonnaise-like
        mixture that contained wine vinegar, mustard, olive oil) and was not disclosed until Olivier death. One of his
        chiefs (Ivanov) attempted to steal the recipe while Olivier had stepped out from the kitchen and later served
        the very identical salad at the "Moscow" restaurant, under the new name "Stolichny". The current salad has
        numerous variations which are a mixture of every component Olivier used to add to his famous dish, as well as
        ingredients that he did not use himself. Wikipedia said: "A multitude of other versions, named, unnamed, and
        even trademarked exist, but only Olivier and Stolichny salad have entered the common vernacular of post-Soviet
        states". Image and info source: Wikipedia, cookingtheglobe.com
    </p>
</div>
{% endblock %}
