{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<body>
<script type="text/javascript">
    var bodyCacheable = true;
    var exclusionReason = {"shouldRender":true,"forced":false};
    var ssrInfo = {"cacheExclusionReason":"","renderBodyTime":212,"renderTimeStamp":1737711360922};







</script>

<div id="SITE_CONTAINER">
    <div id="main_MF" class="main_MF">
        <main id="PAGES_CONTAINER" class="PAGES_CONTAINER" tabindex="-1" data-main-content="true">
            <div id="SITE_PAGES" class="SITE_PAGES">
                <div id="n302z" class="SITE_PAGE">
                    <div class="page-background" data-testid="page-bg"></div>
                    <div class="page-content">
                        <div id="Containern302z" class="page-container">
                            <div data-mesh-id="Containern302zinlineContent" data-testid="inline-content">
                                <div data-mesh-id="Containern302zinlineContent-gridContainer"
                                     data-testid="mesh-container-content">

                                    <section id="comp-la5txgrv" class="section">
                                        <div id="bgLayers_comp-la5txgrv" class="background-layers">
                                            <div class="color-underlay"></div>
                                            <div id="bgMedia_comp-la5txgrv" class="media-layer"></div>
                                        </div>
                                        <div data-mesh-id="comp-la5txgrvinlineContent" data-testid="inline-content">
                                            <div data-mesh-id="comp-la5txgrvinlineContent-gridContainer"
                                                 data-testid="mesh-container-content">
                                                <div id="comp-jhmtl26a" class="rich-text-element"
                                                     style="text-align: center; font-family: 'Brush Script MT', cursive;">
                                                    <h1 class="title">VIDEOS</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                    <section id="comp-la5txgrv1" class="section">
                                        <div id="bgLayers_comp-la5txgrv1" class="background-layers">
                                            <div class="color-underlay"></div>
                                            <div id="bgMedia_comp-la5txgrv1" class="media-layer"></div>
                                        </div>
                                        <div data-mesh-id="comp-la5txgrv1inlineContent" data-testid="inline-content">
                                            <div data-mesh-id="comp-la5txgrv1inlineContent-gridContainer"
                                                 data-testid="mesh-container-content"
                                                 style="display: flex; justify-content: center; align-items: center; gap: 20px;">
                                                <div id="comp-jhmtjpy3" class="youtube-video"
                                                     style="flex: 1; min-width: 300px;">
                                                    <iframe src="https://www.youtube.com/embed/N-sF-uGR8Us?autoplay=1&mute=1&theme=dark&controls=1"
                                                            allowfullscreen></iframe>
                                                </div>
                                                <div id="comp-jhmu2tvb" class="youtube-video"
                                                     style="flex: 1; min-width: 300px;">
                                                    <iframe src="https://www.youtube.com/embed/QzGG7NDb4w8?autoplay=0&theme=dark&controls=1"
                                                            allowfullscreen></iframe>
                                                </div>
                                                <div id="comp-jhmtohj8" class="youtube-video"
                                                     style="flex: 1; min-width: 300px;">
                                                    <iframe src="https://www.youtube.com/embed/rWvbJ_t4TnQ?autoplay=0&theme=dark&controls=1"
                                                            allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </section>



                                    <section id="comp-la5txgrw1" class="section">
                                        <div id="bgLayers_comp-la5txgrw1" class="background-layers">
                                            <div class="color-underlay"></div>
                                            <div id="bgMedia_comp-la5txgrw1" class="media-layer"></div>
                                        </div>

                                        <div style="display: flex; justify-content: center; align-items: center; gap: 20px;">
                                            <!-- First Text Box -->
                                            <div id="comp-la5txgrwinlineContent" class="rich-text-element"
                                                 style="flex: 0 0 auto; text-align: center; width: 300px;margin-left: -200px;">
                                                <h5 class="subtitle">Interviewing Arthur & Erik, March 2018. By Natali
                                                    Kanarski.</h5>
                                            </div>

                                            <!-- Second Text Box -->
                                            <div id="comp-la5txgrw1-gridContainer" class="rich-text-element"
                                                 style="flex: 0 0 auto; text-align: center; width: 300px; margin-left: 175px;">
                                                <h5 class="subtitle">Story of the store. Grand Opening. Pics before &
                                                    after. Video by Lilia Shwarts.</h5>
                                            </div>
                                            <!-- Third Text Box -->
                                            <!-- embedded video is set to private -->
                                            <div id="comp-la5txgrw2-gridContainer" class="rich-text-element"
                                             style="flex: 0 0 auto; text-align: center; width: 300px; margin-left: 225px;">
                                            <h5 class="subtitle">Video overview of Golden Hex store.</h5>

                                        </div>
                                        </div>

                                    </section>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</div>
</div>

</body>
{% endblock %}
